/* CSS */
#sign-in-form {
  max-width: 400px;
}

.left-column {
  width: 40%;
  float: left;
}

.right-column {
  width: 58%;
  float: right;
}

#attendancePie {
  height: 100%;
  width: 100%;
  margin: auto auto;
}
