<template name="header">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#perm-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="perm-navbar-brand" href="{{pathFor 'public'}}">PERM</a>
    </div>
    <div class="navbar-collapse collapse" id="perm-navbar">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
        <li><a href="{{pathFor 'shiftsIndex'}}"><span class="glyphicon
            glyphicon-time"> </span>Dashboard</a></li>
        <li><a href="{{pathFor 'calendar'}}"><span class="glyphicon
            glyphicon-calendar"> </span>Calendar</a></li>
        {{/if}}
        {{#if isInRole 'admin'}}
        <li><a href="{{pathFor 'usersIndex'}}"><span class="glyphicon glyphicon-user"> </span>Users</a></li>
        {{/if}}
      </ul>
      {{> signinButtons}}
    </div>
  </div>
</nav>
</template>
