<template name="usersIndex">
<div class="row">
  <div class="col-md-12">
    {{> newUserModal}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <button class="btn btn-sm btn-success" data-toggle="modal"
            data-target="#newUserModal">Add user</button>
        </div>
        <h4>Manage users</h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Roles</th>
              <th>Drops</th>
              <th>Grabs</th>
              <th>Net</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {{#each users}}
          {{> userItem}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</template>

<template name="userItem">
<tr>
  <td><a href="{{pathFor 'usersShow'}}">{{profile.name}}</a></td>
  <td>
  <!--{{rolesList}}-->
  {{#each roles}}
  <span class="label label-primary {{this}}">{{this}}</span>
  {{/each}}
  </td>
  <td class="negative">{{profile.drops}}</td>
  <td class="positive">{{profile.grabs}}</td>
  <td>{{net}}</td>
  <td><button class="btn btn-sm btn-danger" data-toggle="modal"
      data-target="#{{_id}}-confirmDeleteModal">Delete</button></td>
</tr>
<div class="modal fade" id="{{_id}}-confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Please confirm deletion of {{profile.name}} ({{email}}).</p>
        <p class="text-danger"><strong>This cannot be undone!</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger deleteUserButton" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
</template>

<template name="newUserModal">
<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
	  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
        <h4 class="modal-title" id="myModalLabel">Create new user</h4>
      </div>
      <div class="modal-body">
        <form class="user-form">
          <div class="container-fluid">
            <label for="user-email">Email</label>
            <input type="email" class="form-control" id="user-email"
		   placeholder="example@email.com"/>
            <br />
            <label for="user-name">Name</label>
            <input type="text" class="form-control" id="user-name" placeholder="John Doe"/>
            <br />
            <label for="user-role">Role</label>
            <select class="form-control" id="user-role">
              {{#each allRoles}}
              <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
            <br />
	    <label for="user-start">Start Date</label>
	    <input type="date" class="form-control" id="user-start" placeholder="TODO:TODAY"
		   value="{{today}}"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
	  Cancel
	</button>
        <button type="button" class="newUserButton btn btn-success" data-dismiss="modal">
	  Create
	</button>
      </div>
    </div>
  </div>
</div>
</template>
