<template name="shiftsIndex">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your upcoming shifts</h3>
  </div>
  <div class="panel-body">
    <ol>
      {{#each shifts}}
      {{> shiftItem}}
      {{/each}}
    </ol>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your past shifts</h3>
  </div>
  <div class="panel-body">
    <ol>
      {{#each expiredShifts}}
      {{> shiftItem}}
      {{/each}}
    </ol>
  </div>
</div>
</template>

<template name="shiftItem">
{{#if thisWeek}}
<strong><li>{{formattedDate}}, {{duration}} hours</li></strong>
{{else}}
<li>{{formattedDate}}, {{duration}} hours</li>
{{/if}}
</template>
